---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="About Me"
  description="Software engineer since 2020. Front-end developer at Genially."
  pubDate={new Date("February 29 2024")}
  heroImage="/blog-placeholder-about.jpg"
>
  <p>
    Hi! I'm Miguelo. I've been a software engineer since 2020. I'm currently
    working remotely from Spain as a front-end developer at <a
      href="https://genially.com"
      target="_blank">Genially</a
    >.
  </p>
  <p>Here are a few topics I write about:</p>
  <ul>
    <li>Software development.</li>
    <li>Web development.</li>
    <li>Programming.</li>
    <li>And more...</li>
  </ul>
  <p>
    I intend this to be a "dev-centered" blog, but I might include off-topic
    posts about anything I'm trying to learn more about.
  </p>
  <p>Feel free to check my social media down below!</p>
</Layout>
