---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_SEO_TITLE, SITE_SEO_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_SEO_TITLE} description={SITE_SEO_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <h1>Hello, Knowledge Seeker!</h1>
      <p>
        Welcome to <a href="/">dontknow.dev</a>. This is the place where I post
        about things I don't know and I'm trying to learn about.
      </p>
      <p>Here are a few topics I write about:</p>
      <ul>
        <li>Software development.</li>
        <li>Web development.</li>
        <li>Programming.</li>
        <li>And more...</li>
      </ul>
      <p>
        I intend this to be a "dev-centered" blog, but I might include some
        offtopic posts about anything.
      </p>
      <p>
        You can learn a little more about me in the <a href="/about"
          >about page</a
        >.
      </p>
    </main>
    <Footer />
  </body>
</html>
